{% extends 'base.html' %}

{% block title %}Welcome to ttrack!{% endblock %}

{% block content %}
<h1 class="text-center">Welcome to <b>ttrack!</b></h1>

<p class="text-center">
    <a href="/register/">Register</a> or <a href="/login/">login</a> to use application.
</p>
{% endblock %}