{% extends 'base.html' %}

{% block title %}Welcome to ttrack!{{ task_id }}{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" action="/login/" method="post">
        <h2 class="form-signin-heading">Log In</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
</div>

{% endblock %}