{% extends 'base.html' %}

{% block title %}Project #{{ project_id }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/project.css">
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1 class="text-center">This is project {{ project_name }}!</h1>
    </div>

    <p>&nbsp;</p>

    <dl class="dl-horizontal">
        <dt><h2>Members:</h2></dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nickname</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for nick, member_role in members %}
                    <tr>
                        <td>{{ nick }}</td>
                        <td>{{ member_role }}</td>
                        <td>
                        {% if role == 'Organizer' %}
                            {% if not member_role == 'Organizer' %}
                            <form action="{% url 'project_exclude' project_id nick %}" method="GET">
                                <input type="submit" value="Exclude">
                            </form>
                            {% endif %}
                        {% elif role == 'Manager' %}
                            {% if not member_role == 'Organizer' %}
                                {% if not member_role == 'Manager' %}
                                <form action="{% url 'project_exclude' project_id nick %}" method="GET">
                                    <input type="submit" value="Exclude">
                                </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </td>
                        <td>
                        {% if role == 'Organizer' %}
                            {% if not member_role == 'Organizer' %}
                                {% if member_role == 'Partner' %}
                                <form action="{% url 'project_appoint_manager' project_id nick %}" method="GET">
                                    <input type="submit" value="Make Manager">
                                </form>
                                {% elif member_role == 'Manager' %}
                                <form action="{% url 'project_dismiss_manager' project_id nick %}" method="GET">
                                    <input type="submit" value="Delete Manager">
                                </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if role == 'Organizer' or role == 'Manager' %}
            <form action="{% url 'project_invite' project_id %}" method="POST" onsubmit="check_members(this); return false;">
                {% csrf_token %}
                {{ invite_user_form }}
                <input type="submit" value="Invite">
            </form>
            {% endif %}
        </dd>

        <p>&nbsp;</p>

        <dt><h2>Tasks:</h2></dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, title, status, owner in tasks %}
                    <tr>
                        <th scope="row">{{ id }}</th>
                        <td><a href="{% url 'task_page' id %}">{{ title }}</a></td>
                        <td>{{ status }}</td>
                        <td>
                            {% if status == 'InProgress' %}
                            <a href="{% url 'project_complete_task' project_id id %}" title="Complete">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                        {% if role == 'Organizer' or role == 'Manager' %}
                            <a href="{% url 'project_remove_task' project_id id %}" title="Delete">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if role == 'Organizer' or role == 'Manager' %}
            <form action="{% url 'project_add_task' project_id %}" method="POST">
                {% csrf_token %}
                {{ create_task_form }}
                <input type="submit" value="Add Task">
            </form>
            {% endif %} 
        </dd>
    </dl>
</div>
{% endblock %}

{% block scripts %}
<script>
var members = [ 
    {% for nick, r in members %}
    '{{ nick }}',
    {% endfor %}
]

function check_members(f){
    for (i = 0; i < members.length; i++) {
        if (members[i] == f["nickname"].value){
            alert('User already in project.');
            return false;
        }
    }
    f.submit();
}
</script>
{% endblock %}