{% extends 'base.html' %}

{% block title %}Welcome to ttrack!{{ task_id }}{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" action="/register/" method="post">
        <h2 class="form-signin-heading">Sign Up</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign Up">
    </form>
</div>
{% endblock %}