{% extends 'base.html' %}

{% block title %}Task #{{ task_id }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/task.css">
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1 class="container__ text-center">This is task #{{ task_id }}!</h1>
    </div>

    {% if project %}
    <div>
        <h2>Is a part of project <a href="{% url 'project_page' project %}">#{{ project }}</a></h2>
    </div>
    {% endif %}

    {% if parent_task %}
    <div>
        <h2>Is a subtask of task <a href="{% url 'task_page' parent_task %}">#{{ parent_task }}</a></h2>
    </div>
    {% endif %}

    <dl class="dl-horizontal">
        <dt></dt>
        <dd>
            <form action="{% url 'task_page' task_id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="" type="submit" value="Update">
            </form>
        </dd>

        <p>&nbsp;</p>

        <dt><h2>Tags:</h2></dt>
        <dd>
            <div class="d-flex flex-row">
                {% for t in tags %}
                <div class="p-2"><h2><span class="badge badge-success">{{ t }} <button class="btn btn-sm" onclick="delete_tag('{{ t }}')">x</button></span></h2></div>
                {% endfor %}
            </div>

            <form action="{% url 'task_add_tag' task_id %}" method="POST">
                {% csrf_token %}
                {{ tag_add_form }}
                <input type="submit" value="Add Tag">
            </form>
        </dd>

        <p>&nbsp;</p>

        <dt><h2>Repeat:</h2></dt>
        <dd>
            <form action="{% url 'task_select_period' task_id %}" method="POST">
                {% csrf_token %}
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="period" value="None" {% if period is None %}checked{% endif %}> No
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="period" value="0" {% if period == 0 %} checked {% endif %}> Daily
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="period" value="1" {% if period == 1 %} checked {% endif %}> Weekly
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="period" value="2" {% if period == 2 %} checked {% endif %}> Monthly
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="period" value="3" {% if period == 3 %} checked {% endif %}> Yearly
                    </label>
                </div>
                <input type="submit" value="Select">
            </form>
        </dd>

        <p>&nbsp;</p>

        <dt><h2>Subtasks:</h2></dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, title, status in subtasks %}
                    <tr>
                        <th scope="row">{{ id }}</th>
                        <td><a href="{% url 'task_page' id %}">{{ title }}</a></td>
                        <td>{{ status }}</td>
                        <td>
                            {% if status == 'InProgress' %}
                            <form action="{% url 'task_complete' id %}" method="GET">
                                <input type="submit" value="Complete">
                            </form>
                            {% endif %}
                        </td>
                        <td><form action="{% url 'task_delete' id %}"><input type="submit" value="Delete"></form></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <form action="{% url 'task_add_subtask' task_id %}" method="POST">
                {% csrf_token %}
                {{ create_task_form }}
                <input type="submit" value="Add SubTask">
            </form>
        </dd>

        <p>&nbsp;</p>

        
    </dl>
</div>
{% endblock %}

{% block scripts %}
<script>
    function delete_tag(tag){
        document.location.href = "/task/remove_tag/" + {{ task_id }} + "/" + tag + "/";
    }
</script>
{% endblock %}