{% extends 'base.html' %}

{% block title %}Hello, {{ nickname }}!{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
<div class="container">
    <p>&nbsp;</p>

    <div>
        <h1 class="text-center">Welcome, {{ nickname }}!</h1>
    </div>

    <p>&nbsp;</p>

    <dl class="dl-horizontal">
        {% if reminders|length != 0 %}
        <dt>You have new reminders!</dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Time</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in reminders %}
                    <tr>
                        {% for id, time, note in r %}
                        <th scope="row">{{ id }}</th>
                        <td>{{ time }}</td>
                        <td>{{ note }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </dd>
        {% endif %}

        {% if failed_tasks|length != 0 %}
        <dt>You have failed next task(s):</dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, title in failed_tasks %}
                    <tr>
                        <th scope="row">{{ id }}</th>
                        <td>{{ title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </dd>
        {% endif %}

        
        <dt><h2>Tasks:</h2></dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, title, status in user_tasks %}
                    <tr>
                        <th scope="row">{{ id }}</th>
                        <td><a href="{% url 'task_page' id %}">{{ title }}</a></td>
                        <td>{{ status }}</td>
                        <td>
                            {% if status == 'InProgress' %}
                            <a href="{% url 'task_complete' id %}" title="Complete">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'task_delete' id %}" title="Delete">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>    
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <form action='/task/create/' method="POST">
                {% csrf_token %}
                {{ create_task_form }}
                <input type="submit" value="Create Task">
            </form>
        </dd>
        
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        
        <dt><h2>Projects:</h2></dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, name, role in projects %}
                    <tr>
                        <th scope="row">{{ id }}</th>
                        <td><a href="{% url 'project_page' id %}">{{ name }}</a></td>
                        <td>{{ role }}</td>
                        {% if role == 'Organizer' %}
                        <td><button class="btn" onclick="confirm_project_delete({{ id }})">Delete</button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <form action='/project/create/' method="POST">
                {% csrf_token %}
                {{ create_project_form }}
                <input type="submit" value="Create Project">
            </form>
        </dd>
    </dl>

    <div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>
            You can <button class="btn" onclick="confirm_delete()">delete account</button>
        </p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function confirm_delete(){
        if (confirm("Are you sure? All your data, tasks and projects will be lost!")){
            document.location.href = "{% url 'user_delete' nickname %}"
        }
    }

    function confirm_project_delete(id){
        if (confirm("Are you sure? All your and other members data and tasks assigned to this projects will be lost!")){
            document.location.href = "/project/" + id + "/delete/";
        }
    }
</script>
{% endblock %}